.page-container__content{
    // max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 4rem;
    padding-left: 4rem;
}
.page-container{
    width: 100%;
}
// .main-section{
//     &__news{
//         margin: 3.125rem 0;
//     }
// }