.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.smaller-text_spacing{
    padding: 0 	0.9375rem;
}