.navigation-block{
    flex: 0 0 70%;
    max-width: 70%;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    &__link-size{
        display: block;
        padding: 1.25rem 1.25rem 2rem 1.25rem;
        border-bottom: 5px solid transparent;
        transition: border-bottom .3s ease;
        &:hover{
            border-bottom: 5px solid  $pink;
        }
    }
}
